.wrapper {
  height: 72px;
  position: fixed;
  top: 0;
  padding: 0px 40px;
  width: 100%;
  box-shadow: 0 2px 3px 0 rgba(51, 51, 51, 0.2);
  background-color: white;

  &Main {
    display: grid;
    grid-template-columns: 140px 1fr 120px;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
}

.nav {
  margin-left: 150px;
  padding: 0;

  &Item {
    display: inline-block;
    margin-right: 50px;
    list-style: none;

    &Link {
      text-decoration: none;
      color: #113c2b;
      font-size: 16px;
      line-height: 16px;
      font-weight: 700;
      letter-spacing: 0.2px;

      &:hover {
        padding-bottom: 2px;
        border-bottom: 2px #009a3d solid;
      }
    }
  }
}

.button {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  padding: 7px 12px;
  font-weight: 700;
  width: 100%;
  background: #009a3d;
  border: 2px solid #009a3d;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  white-space: nowrap;

  &:hover {
    background: #08853a;
    border: 2px solid #08853a;
  }
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #009a3d;
}
